.feedContainer{
    padding-bottom: 60px;
    background-color: $branco;

    .postagem{
        margin-top: 16px;
        .cabecalhoPostagem{
            display: flex;
            align-items: center;
            padding: 0px 12px;

        .avatar{
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
        strong{
            font-size: 12px;
            color: $cinza4;
        }
    }
    }
    a {
        text-decoration: none !important;
    }
}