.feedContainer{
    padding-bottom: 60px;
    background-color: $branco;

    .postagem{
        .avatar{
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
        margin-top: 16px;
        
        .cabecalhoPostagem{
            display: flex;
            align-items: center;
            padding: 0px 12px;
            margin-bottom: 8px;

      
        strong{
            font-size: 12px;
            color: $cinza4;
        }
    }

    .fotoDaPostagem{
        img{
            width: 100%;
            height: auto;
            max-height: 360px;
            object-fit: cover;
        }
    }
    .containerFazerComentario{
        display: flex;
        align-items: center;
        padding: 0px 12px;
        margin-bottom: 16px;
        textarea{
            resize: none;
            flex: 1;
            max-width: 100%;
            border: none;
            outline: none;
            font-size: 12px;
            color: $cinza2;
        }
    }
    .rodapeDaPostagem{
        padding: 5px 16px;
        strong.nomeUsuario{
            font-size: 12px;
            float: left;
            margin-right: 5px;
        }
        p.descricao{
            font-size: 12px;
            margin: 0 0 2px;
            color: $cinza4;
            .exibirDescricaoCompleta{
                font-size: 12px;
                color: $corPrimaria3;
                cursor: pointer;
                margin-left: 4px;
            }
        }
        .comentario-nome{
            font-size: 12px;
            float: left;
            margin-right: 5px;
        }
        .acoesDaPostagem{
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            .icon{
                margin-right: 7px  
            }   
            .quantidadeCurtidas{
                font-family: $fontLight;
                font-size: 12px;
                color: $cinza4;
                strong{
                    font-size: 12px;
                    color: $cinza4;
                }
            }
        }
    }
    }
    a {
        text-decoration: none !important;
    }

    
 
}
body.feed-page {
    @media screen and (min-width: $desktopBreakpoint){
      background-color: $cinza5;
   
    }
   }